.loader {
  text-align: center;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  svg {
    height: 100%;
    width: 100%;
    vertical-align: top;
    path,
    rect {
      fill: #fc9d99;
    }
  }
}
