.header {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-size: 3.998em;
  &.sub {
    font-size: 2.827em;
  }

  &.accent {
    font-size: 1.999em;
  }

  &.small {
    font-size: 1.414em;
  }
  @media (max-width: 1024px) {
    font-size: 2.827em;
    &.sub {
      font-size: 1.999em;
    }

    &.accent {
      font-size: 1.414em;
    }

    &.small {
      font-size: 1em;
      font-weight: semibold;
    }
  }
}

.center {
  text-align: center;
}
