.grid {
  display: grid;
  grid-template-rows: 3rem auto 4rem;
  grid-template-columns: [start] 1fr [content-start]
    repeat(2, minmax(auto, 50em)) [content-end] 1fr [end];
  min-height: 100vh;
  justify-items: stretch;
  grid-gap: 1rem;
}
