@import '../../../styles/variables.scss';

.header {
  background-color: $primary-color;
  grid-column-start: start;
  grid-column-end: end;
  display: flex;
  overflow: hidden;
}

.image {
  object-fit: scale-down;
  object-position: left;
  display: flex;
  flex: 1;
  justify-self: center;
  align-self: flex-start;
  height: 100%;
}
